*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    background-color: #C2AD8C;
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}
:root {
    --theme-color: #C2AD8C;
    --dark-color: #524A40;
    --border-color: #8F806B;
    --light-color: #DFCCAF;
}
[data-theme="light"] {
    --theme-color: #C2AD8C;
    --dark-color: #524A40;
    --border-color: #8F806B;
    --light-color: #DFCCAF;
}
[data-theme="dark"] {
    --theme-color: #C2AD8C;
    --dark-color: #524A40;
    --border-color: #8F806B;
    --light-color: #DFCCAF;
}

