body {
	display: flex;
	flex-direction:column;
	min-height: 100vh;
	width: 100%;
}

header {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	line-height: 2;
	padding: 16px;
}
.Header-item {
	margin-right: 1em;
	align-self: stretch;
	border-radius:4px;
	border-top-style: hidden;
	border-right-style: hidden;
}

.Header-link {
	white-space: nowrap;
	margin-top: 1px;
}

.theme-button{
	position: absolute;
	right: 1px;
	top: 70px;
	display: inline-block;
	cursor: pointer;
}
img{
	width: 40px;
	height: 40px;
	margin: 10px;
}

.main {
	flex-grow: 1;
	padding: 70px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: lighter;
	max-width: 100%;
}

h2{
	margin-top: 50px;
	font-weight: lighter;
}

h3 {
	text-align: center;
	text-decoration-line: overline;
}

select {
	max-width: 150px;
	margin-top: 50px;
	font-size: medium;
	font-weight: lighter;
	text-align: center;
	border-radius:4px;
	border-top-style: hidden;
	border-right-style: hidden;

}
select:active {
	transform: translateY(5px);
}

select:focus {
	outline: none;
}

button {
	margin-top: 20px;
	font-size: medium;
	font-weight: lighter;
	text-align: center;
	border-radius: 5px;
	border-top-style: hidden;
	border-right-style: hidden;
}
button:focus{
	outline: none;
}

button:active {
	transform: translateY(5px);
}

.tables, .randomTables{
	overflow: scroll;
	position: relative;
	margin: auto;
}
.tables {
	max-width: min-content;
}
.randomTables{
	max-width: fit-content;
}
table {
	display: inline-block;
	font-weight: lighter;
	text-align: left;
	border-collapse: separate;
	border-spacing: 5px;
	-webkit-overflow-scrolling: touch;
}
.randomTable{
	width: fit-content;
	white-space: nowrap;
}
th {
	position: sticky;
	top: 0;
	z-index: 5;
	font-weight: lighter;
	padding-left: 3px;
	border-radius:4px;
	border-top-style: hidden;
	border-right-style: hidden;
}
.filmsTable th,
.serialsTable th{
	cursor: pointer;
}
td {
	word-break: normal;
	border-radius:4px;
	border-top-style: hidden;
	border-right-style: hidden;
	padding-left: 3px;
	padding-right: 3px;
}

.random, .clear{
	max-width: fit-content;
	align-self: center;
}

.random{
	margin-bottom: 30px;
}

footer{
	max-width: border-box;
	flex-shrink: 0;
	text-align: center;
}
@media (max-width: 800px){
	.tables{
		overflow-x: auto;
		margin-right: 0;
		margin-left: 0;
	}
}

@media (max-width: 768px){
	.Header-link, form select, form button, .main button{
		font-size: 18px;
	}
	.theme-button img{
		width: 45px;
		height: 45px;
	}
	.main, table{
		padding-right: 0;
		padding-left: 0;
	}
	table{
		max-width: 100%;
	}
}
@media (max-width: 640px) {
	.Header-link, form select, form button, .main button, table{
		font-size: 16px;
	}
}
@media (max-width: 580px) {
}
@media (max-width: 520px) {
	.Header-link, form select, form button, .main button, table{
		font-size: 14px;
	}
	.theme-button img{
		width: 40px;
		height: 40px;
	}
	footer img{
		width: 35px;
		height: 35px;
	}
}
@media (max-width: 425px) {
	.Header-link, form select, form button, .main button, table{
		font-size: 12px;
	}
	.theme-button{
		top: 3px;
	}
	.theme-button img{
		width: 35px;
		height: 35px;
	}
}
@media (max-width: 320px) {
	.Header-link, form select, form button, .main button, table{
		font-size: 10px;
	}
	footer img{
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 300px) {
	.Header-item{
		margin-right: 5px;
	}
}
